body {
    font-family: Arial;
    text-align: center;
    background-color: black;
    
}

h1 {
    color:green;
}

a {
    text-decoration: none;
    font-size: 18px;
    margin: 10px;
    color:red;
}

a:hover{
    color:white;
}