body {
    font-family: Arial, sans-serif;
    background-color:black;
    color: white;
}

.log {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background:aqua;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}

input {
    width: 90%;
    padding: 8px;
    margin: 10px 0;
    border-radius: 5px;
}

button {
    padding: 8px 15px;
    background-color:black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
button:hover{
    background-color: grey;
    color: black;
}