*{
    margin: 0px;
    padding:0px ;
}
nav{
    background-color: black;
    color: white;
    padding: 15px;
}
li,h1,ul{
   display: inline;

}

ul{
    padding-left: 60%;
    color: grey;
}
li:hover{
    color: white;
    cursor: pointer;
}
input{
    width: 60%;
    padding: 15px;
    margin-left:270px ;
    margin-top: 50px;
}
.box{
     border-color: black;
     border-width: 2px;
     border-style: solid;
     display: inline-block;
     width: 220px;
     text-align: center;
     
     
}
.two{
    border-color: black;
    border-width: 2px;
     border-style: solid;
     display: inline-block;
     width: 220px;
     text-align: center;
     
     
}
.three{
     border-color: black;
     border-width: 2px;
     border-style: solid;
     display: inline-block;
     width: 220px;
    
     text-align: center;


     
}
.product{
    margin-left:400px ;
    margin-top: 50px;
}

.four:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.five:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.six:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

.about{
    margin-top: 30px;
}
.seven{
    margin-top: 30px;
}

.eight{
    background-color: black;
    color: white;
    margin-top: 30px;
    padding: 15px;
}

.nine{
    margin-top: 20px;
    color: grey;
}